<div class = "login-page">

<%= form_tag sessions_path do %>
  <div class="field">
    <%= label_tag :username %><br />
    <%= text_field_tag :username, params[:username] %>
  </div>
  <div class="field">
    <%= label_tag :password %><br />
    <%= password_field_tag :password %>
  </div>
  <div class="submit-button"><%= submit_tag "LOGIN" %></div>
<% end %>
</div>
