<div class="hp">

  <h2>Stop list for the
    <%= @tour.name%></h2>

  <div class="top_link_box">
    <div class="top_link">
      <%= link_to "Back to Tour", organization_tour_path(@tour.organization_id, @tour.id) %>
    </div>

    <div class="top_link">
      <%= link_to "Back to Organization", organization_path(@tour.organization_id) %>
    </div>
  </div>

  <div>
    <h3 class="stop-h3">Bulk Upload Stop Data</h3>
    <p class="stop-para">To bulk upload stops for the
      <%= @tour.name%>
      tour you can import your content with a CSV File. If you have not done this before, you should
      <%= link_to 'download the template', stops_download_template_url %>.</p>

    <p>Once your stop data is in the template, use the buttons below to choose and import your CSV file:</p>

    <%= form_tag import_organization_tour_stops_path, multipart: true do %>
    <div class="import-csv">
      <div class="csv-options">
        <%= file_field_tag :file %>
      </div>
      <div class="import-button">
        <div class="submit">
          <%= submit_tag " Import CSV " %>
        </div>
      </div>
    </div>
    <% end %>
  </div>

  <% if @tour.stops.blank? %>
  <% else %>
  <div class="show_when_stops">
    <h3 class="stop-h3">Bulk Edit Stop Data</h3>
    <p class="stop-para">Use the buttons below to download your existing stop data in either CSV or xls format. After editing the file, you can upload changes using the steps above.</p>
    <div class="button_div">
      <div class="admin-btn"><%= link_to " CSV ", organization_tour_stops_path(format: "csv"), {:id => "button_left" } %>
      </div>
      <div class="admin-btn"><%= link_to "EXCEL", organization_tour_stops_path(format: "xls"), {:id => "button_right" } %>
      </div>
    </div>


  <h3 class="stop-h3">Delete Stop Data</h3>
  <p class="stop-para">To delete stops individually, use the link next to each stop in the list below. To delete ALL stops at once, use the button below.</p>
  <div class="admin-btn"><%= button_to 'DELETE ALL STOPS', destroy_stops_organization_tour_stops_path(@organization.id), method: :delete, data: { confirm: 'This will delete ALL stops associated with this tour. Are you sure?' } %></div>
  <br/>

  <table>
    <thead>
      <tr>
        <th>Stop Number</th>
        <th>Stop Name</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thread>
    <tbody>
      <% @tour.stops.sort_by { |stop| stop.stop_num }.each do |stop| %>
      <tr>
        <td><%= stop.stop_num %></td>
        <td><%= stop.name %></td>
        <td><%= link_to 'See stop details', organization_tour_stop_path(@organization.id, @tour.id, stop.stop_num) %></td>
        <td><%= link_to 'Edit stop details', edit_organization_tour_stop_path(@organization.id, @tour.id, stop.stop_num) %></td>
        <td><%= link_to 'Delete stop', organization_tour_stop_path(@organization.id, @tour.id, stop.stop_num), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  </div>
  <% end %>

</div>
<br/>
<br/>
