<div class="admin_form">
  <h1 class="stop_num"><%=@organization.name%>:
    <%=@tour.name%></h1>

  <div class="top_link_box">
    <div class="top_link">
      <%= link_to 'Back to Stops', organization_tour_stops_path(@organization, @tour) %>
    </div>
    <div class="top_link">
      <%= link_to "Back to Tour", organization_tour_path(@organization, @tour) %>
    </div>

    <div class="top_link">
      <%= link_to "Back to Organization", organization_path(@organization) %>
    </div>
  </div>

  <h2>New Stop</h2>

  <% if @stop.errors.any? %>
    <div class="error_messages">
      <ul>
        <% @stop.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_for @stop, url: {action: "create"}, html: { multipart: true } do |f| %>
  <div class="field">
    <%= f.label :stop_num %><br/>
    <%= f.text_field :stop_num %>
  </div>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :directions_to_next_stop %><br/>
    <%= f.text_field :directions_to_next_stop %>
  </div>

  <div class="field">
    <%= f.label :learn_more_URL %><br>
    <%= f.text_field :learn_more_URL %>
  </div>

  <div class="field">
    <%= f.label :travel_tip %><br/>
    <%= f.text_field :travel_tip %>
  </div>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>

  <div class="field">
    <%= f.label :image_current %><br>
    <%= f.text_field :image_current %>
  </div>

  <div class="field">
    <%= f.label :image_historic %><br>
    <%= f.text_field :image_historic %>
  </div>

  <div class="field">
    <%= f.label :GPS_longitude, "GPS longitude" %><br>
    <%= f.text_field :gps_long %>
  </div>

  <div class="field">
    <%= f.label :gps_lat, "GPS latitude" %><br>
    <%= f.text_field :gps_lat %>
  </div>

  <div class="field">
    <%= f.label :badge %><br>
    <%= f.text_field :badge %>
  </div>

  <div class="submit">
    <div class="actions"><%= f.submit %></div>
  </div>
  <% end %>
</div>
