< class="admin_form">
  <h1>New Stop</h1>

  <% if @stop.errors.any? %>
    <div class="error_messages">
      <ul>
        <% @stop.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_for @stop, url: {action: "create"}, html: { multipart: true } do |f| %>
    <p class="field">
      <%= f.label :images %><br>
      <%= f.file_field :images %>
    </p>

    <p>
      <%= f.label :stop_num %><br />
      <%= f.text_field :stop_num %>
    </p>

    <p>
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </p>

    <p>
      <%= f.label :directions_to_next_stop %><br />
      <%= f.text_field :directions_to_next_stop %>
    </p>

    <p>
      <%= f.label :learn_more_URL %><br>
      <%= f.text_field :learn_more_URL %>
    </p>

    <p>
      <%= f.label :travel_tip %><br />
      <%= f.text_field :travel_tip %>
    </p>

    <p>
      <%= f.label :description %><br>
      <%= f.text_area :description %>
    </p>

    <p>
      <%= f.label :location %><br>
      <%= f.text_field :location %>
    </p>

    <p>
      <%= f.label :image_current %><br>
      <%= f.text_field :image_current %>
    </p>

    <p>
      <%= f.label :image_historic %><br>
      <%= f.text_field :image_historic %>
    </p>

    <p>
      <%= f.label :gps_long %><br>
      <%= f.text_field :gps_long %> miles
    </p>

    <p>
      <%= f.label :gps_lat %><br>
      <%= f.text_field :gps_lat %>
    </p>

    <p>
      <%= f.label :badge %><br>
      <%= f.text_field :badge %>
    </p>

    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>
