<div class="hp">
  <h1 class="stop_num"><%=@organization.name%>: <%= @tour.name%></h1>

  <div class="top_link_box">
    <div class="top_link"><%= link_to 'Back to Stops', organization_tour_stops_path(@organization, @tour) %></div>
    <div class="top_link">
      <%= link_to "Back to Tour", organization_tour_path(@stop.tour.organization_id, @stop.tour_id) %>
    </div>

    <div class="top_link">
      <%= link_to "Back to Organization", organization_path(@stop.tour.organization_id) %>
    </div>
  </div>

  <h2>STOP <%= @stop.stop_num %>: <%= @stop.name %></h2>
  <div class = "button_div">
    <div class="admin-btn"><%= link_to 'Edit Stop', edit_organization_tour_stop_path(@organization.id, @tour.id, @stop.stop_num), {:id => "button_left" } %>
    </div>

    <div class="admin-btn"><%= link_to 'Delete Stop', organization_tour_stop_path(@organization.id, @tour.id, @stop.stop_num), :id => "button_right", method: :delete, data: { confirm: 'Are you sure?' } %></div>
  </div>
  <br />


  <div class="stop_item">
    <p class="bold_text">Description:</p>
    <p class="stop_content"><%= @stop.description %></p>
  </div>

  <div class="stop_item">
    <p class="bold_text">Location:</p>
    <p class="stop_content"><%= @stop.location %></p>
  </div>

  <div class="stop_item">
    <p class="bold_text">Directions to next stop:</p>
    <p class="stop_content"><%= @stop.directions_to_next_stop %></p>
  </div>

  <div class="stop_item">
    <p class="bold_text">Travel tip:</p>
    <p class="stop_content"><%= @stop.travel_tip %></p>
  </div>

  <div class="coordinates_box">
    <div class="stop_item">
      <p class="bold_text">GPS longitude:</p><p class="stop_content"><%= @stop.gps_long %></p>
    </div>
    <div class="stop_item">
      <p class="bold_text">GPS latitude:</p><p class="stop_content"><%= @stop.gps_lat %></p>
    </div>
  </div>

  <div class="stop_item">
    <p class="bold_text">Learn_more_URL:</p>
    <p class="stop_content">
      <% if @stop.learn_more_URL != nil %>
        <%= link_to @stop.learn_more_URL, url_for(@stop.learn_more_URL) %>
      <% end %>
    </p>
  </div>

    <% if @stop.image_historic %>
      <div class="stop_item">
        <div class="images_holder">
          <p class="bold_text">Image Current:</p>
          <p class="stop_content">
            <% if @stop.image_current %>
              <%= image_tag(@stop.image_current, class: "style_image") %>
            <% end %>
          </p>
        </div>
      </div>
      <div class="stop_item">
          <p class="bold_text">Image Historic:</p>
          <p class="stop_content">
            <%= image_tag(@stop.image_historic, class: "style_image") %>
          </p>
      </div>

    <% else %>
      <div class="stop_item">
          <div class="images_holder">
            <p class="bold_text">Image Current:</p>
            <p class="stop_content"><%= image_tag(@stop.image_current, class: "style_image") %>
            </p>
          </div>
      </div>
      <div class="stop_item">
          <p class="bold_text">Image Historic:</p>
          <p class="stop_content">None available</p>
      </div>
    <% end %>

  <div class="link_container">
    <% if (@stop.stop_num-1 != 0) %>
      <div class="previous">
        <img src = "https://durhamdill.files.wordpress.com/2017/10/tourify-arrow.png" alt = "left arrow"/>
          <%= link_to "Previous Stop", organization_tour_stop_path(@stop.tour.organization_id, @stop.tour_id, @stop.stop_num-1) %>
      </div>
    <% end %>
      <div class="next">
        <%= link_to "Next Stop", organization_tour_stop_path(@stop.tour.organization_id, @stop.tour_id, @stop.stop_num+1) %>
        <img src = "https://durhamdill.files.wordpress.com/2017/10/tourify-arrow-right.png" alt = "right arrow"/>
      </div>
  </div>

  <br />

</div>
