<div class="hp">
    <p><span class="bold_text">Stop Number: </span><%= @stop.stop_num %></p>
    <p><span class="bold_text">Name: </span><%= @stop.name %></p>
    <p><span class="bold_text">Description: </span><%= @stop.description %></p>
    <p><span class="bold_text">Location: </span><%= @stop.location %></p>
    <p><span class="bold_text">Directions to next stop: </span><%= @stop.directions_to_next_stop %></p>
    <p><span class="bold_text">Travel tip: </span><%= @stop.travel_tip %></p>
    <p><span class="bold_text">GPS longitude: </span><%= @stop.gps_long %></p>
    <p><span class="bold_text">GPS latitude: </span><%= @stop.gps_lat %></p>

    <p><span class="bold_text">Learn_more_URL: </span>
      <% if @stop.learn_more_URL != nil %>
        <%= link_to @stop.learn_more_URL, url_for(@stop.learn_more_URL) %>
      <% end %>
    </p>
    <div class="image_holder">
      <p class="p_with_img"><span class="bold_text">Image Current </span>
        <% if @stop.image_current %>
          <%= image_tag(@stop.image_current, class: "style_image") %>
        <% end %>
      </p>
      <p class="p_with_img"><span class="bold_text">Image Historic </span>
        <% if @stop.image_historic %>
          <%= image_tag(@stop.image_historic, class: "style_image") %>
        <% end %>
      </p>
    </div>

    <p><span class="bold_text">Badge: </span><%= @stop.badge %></p>

  <div class="link_container">
    <% if (@stop.stop_num-1 != 0) %>
      <div class="previous">
          <%= link_to "Previous Stop", organization_tour_stop_path(@stop.tour.organization_id, @stop.tour_id, @stop.stop_num-1) %>
      </div>
    <% end %>
    <% if (@stop.stop_num+1 != nil) %>
      <div class="next">
        <%= link_to "Next Stop", organization_tour_stop_path(@stop.tour.organization_id, @stop.tour_id, @stop.stop_num+1) %>
      </div>
    <% end %>
  </div>

  <br />
  <%= link_to "Back to Tour", organization_tour_path(@stop.tour.organization_id, @stop.tour_id) %>
  <br>
  <%= link_to "Back to Organzation", organization_path(@stop.tour.organization_id) %>
</div>
