<th>
    <tr>
      <th>Stop Number</th>
      <th>Name</th>
      <th>Description</th>
      <th>Location</th>
      <th>Directions to next stop</th>
      <th>Travel tip</th>
      <th>GPS longitude</th>
      <th>GPS latitude</th>
      <th>Learn_more_URL</th>
      <th>Image Current</th>
      <th>Image Historic</th>
      <th>Badge</th>
    </tr>
  </thread>
  <tbody>
      <tr>
        <td><%= @stop.Stop_num %></td>
        <td><%= @stop.Name %></td>
        <td><%= @stop.Description %></td>
        <td><%= @stop.Location %></td>
        <td><%= @stop.Directions_to_next_stop %></td>
        <td><%= @stop.Travel_tip %></td>
        <td><%= @stop.GPS_long %></td>
        <td><%= @stop.GPS_lat %></td>
        <td><%= @stop.Learn_more_URL %></td>
        <td><%= @stop.Image_current %></td>
        <td><%= @stop.Image_historic %></td>
        <td><%= @stop.Badge %></td>
      </tr>
  </tbody>
</table>
