<h1>Submit your new tour on this form.</h1>

<% if @tour.errors.any? %>
  <div class="error_messages">
    <ul>
      <% @admin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @tour, url: {action: "create"} do |form| %>

  <p>
    <%= form.label :name %><br />
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </p>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
