<div class="hp">
  <h1><%=@organization.name%></h1>

  <div class="top_link_box">
    <div class="top_link">
      <%= link_to "Back to Organizations Index Page", organizations_path %>
    </div>
  </div>

  <h3>Your organization currently has the following tours: </h3>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th colspan="3">Links</th>
      </tr>
    </thead>
    <tbody>
      <% @organization.tours.each do |tour| %>
        <tr>
          <td><%=tour.name       %></td>
          <td><%=tour.description        %></td>
          <td><%= link_to 'See tour overview', organization_tour_path(@organization, tour.id) %></td>
          <td><%= link_to 'Edit tour overview', edit_organization_tour_path(@organization, tour.id) %></td>
          <td><%= link_to 'Delete tour', organization_tour_path(@organization, tour.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <button class = 'new-tour-btn'><%= link_to 'Create a new tour', new_organization_tour_path(@organization) %></button>


</div>
