<!DOCTYPE html>
<html>
  <head>
    <title>TourifyRr</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">
    <meta name="viewport" content="width=device-width">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <div class="nav_logo_div">
      <img src = "https://durhamdill.files.wordpress.com/2017/10/tourify-logo-glow-200px2.png" alt = "tourify logo">
      <% if @current_admin.blank? %>
      <% else %>
      <span>Welcome, <%= @current_admin.username %></p>
      <% end %>
    </div>
    <div  id="logout_div">
      <h2>Content Creator Dashboard </h2>
      <% if @current_admin.blank? %>
      <% else %>
      <div class="top_link", id="logout">

      <%= link_to "Logout", logout_path, :method => :delete %>
      </div>
      <% end %>

    </div>
    </nav>
    <div id="container" class="container-fluid">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, id: "flash_#{name}" %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
