<!DOCTYPE html>
<html>
  <head>
    <title>TourifyRr</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">
    <meta name="viewport" content="width=device-width">
    <%= csrf_meta_tags %>
    <%= javascript_pack_tag 'App' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, id: "flash_#{name}" %>
      <% end %>
    <%= yield %>
    </div>
  </body>
</html>
